

# Assignment 02: Evaluate the Diabetes Dataset

**Happy coding!**

* * *

#### 1: Import the dataset

In [57]:
#Import the required libraries
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import mean_squared_error
from sklearn.metrics import accuracy_score

In [58]:
#Import the diabetes dataset
dataset_data = pd.read_csv('pima-indians-diabetes.data', header=None)

#### 2: Analyze the dataset

In [59]:
#View the first five observations of the dataset
dataset_data.head()

   0    1   2   3    4     5      6   7  8
0  6  148  72  35    0  33.6  0.627  50  1
1  1   85  66  29    0  26.6  0.351  31  0
2  8  183  64   0    0  23.3  0.672  32  1
3  1   89  66  23   94  28.1  0.167  21  0
4  0  137  40  35  168  43.1  2.288  33  1

#### 3: Find the features of the dataset

In [60]:
#Use the .NAMES file to view and set the features of the dataset
feature_names = ['Pregnant Count', 'Plasma Glucose', 'Blood Pressure', 
                 'Triceps thickness', 'Insulin', 'BMI', 'Pedigree', 'Age',
                 'Class Label']

In [61]:
#Use the feature names set earlier and fix it as the column headers of the dataset
df_dataset = pd.read_csv('pima-indians-diabetes.data', header=None, names=feature_names)

In [62]:
#Verify if the dataset is updated with the new headers
df_dataset.head()

   Pregnant Count  Plasma Glucose  Blood Pressure  ...  Pedigree  Age  Class Label
0               6             148              72  ...     0.627   50            1
1               1              85              66  ...     0.351   31            0
2               8             183              64  ...     0.672   32            1
3               1              89              66  ...     0.167   21            0
4               0             137              40  ...     2.288   33            1

[5 rows x 9 columns]

In [63]:
#View the number of observations and features of the dataset
df_dataset.shape

(768, 9)

#### 4: Find the response  of the dataset

In [64]:
#Select features from the dataset to create the model
features = ['Pregnant Count', 'Plasma Glucose', 'Insulin', 'BMI', 'Age']

In [65]:
#Create the feature object
X_feature = df_dataset[features]

In [66]:
#Create the reponse object
Y_target = df_dataset[ 'Class Label']

In [67]:
#View the shape of the feature object
X_feature.shape

(768, 5)

In [68]:
#View the shape of the target object
Y_target.shape

(768,)

#### 5: Use training and testing datasets to train the model

In [69]:
#Split the dataset to test and train the model
x_train, x_test, y_train, y_test = train_test_split(X_feature, Y_target, random_state=1)

#### 6: Create a model  to predict the diabetes outcome

In [70]:
# Create a logistic regression model using the training set
logReg = LogisticRegression()
logReg.fit(x_train, y_train)

LogisticRegression()

In [71]:
#Make predictions using the testing set
y_predicted = logReg.predict(x_test)

#### 7: Check the accuracy of the model

In [72]:
#Evaluate the accuracy of your model
accuracy_score(y_test, y_predicted)

0.7552083333333334

In [73]:
#Print the first 30 actual and predicted responses
print('Actual Y values : ')
print(y_test.values[:30])
print('Predicted Y values : ')
print(y_predicted[:30])

Actual Y values :
[0 0 0 0 0 0 0 0 0 0 0 0 1 1 0 1 1 0 0 0 1 1 1 1 0 0 0 1 0 1]
Predicted Y values :
[0 0 0 0 0 0 0 0 0 0 1 0 1 1 0 1 0 0 0 0 0 0 1 0 0 0 0 1 0 0]